In [2]:
a=10
if a == 11:
    print("this is my first condition")

In [3]:
a=10
if a>5 :
    pass

In [4]:
a=10
if a <8:
    print("print this if condition is true")

In [5]:
a=10
if a>8:
    print("pritn this if condition")

pritn this if condition

In [6]:
a=10
if a==11:
    print("my condition is false")
else:
     print("print this")

print this

In [7]:
a=10
if a== 12:
    print("here we are trying to compare 10 with 12")
elif a == 10:
    print(" we are trying to compare 10 with 11")
else :
    print("if all the blocks will fail then do this")

 we are trying to compare 10 with 11

In [8]:
price=500
if price > 500:
    print ("may i wont be able to buy a juckeet")
elif price <= 500:
    print("i will be able to buy the jacket")
elif price == 500:
    print("for sure i will be able to buy")
else:
    print("dont know")

i will be able to buy the jacket

In [9]:
price > 500

False

In [10]:
price <500

False

In [11]:
price ==500

True

In [12]:
l = [1,2,3,4,5,6]
2 in l

True

In [13]:
if 60 in l:
    print ("try to perform task")
else:
    print("do not perform this task")

do not perform this task

In [14]:
60 in l

False

In [15]:
if 10 in l:
    print("then try to do addition")
elif 2 in l:
    print("try to do sub")
elif 3 in l:
    print("try to do mul")
if 4 in l:
    print("this is new statement")

try to do sub
this is new statement

In [16]:
a=400

In [ ]:
b = int(input())

In [ ]:
b

In [ ]:
type(b)

In [ ]:
price = int(input())
if price<500:
    print("i wil be able to buy something")
    if price < 400:
        print("i will be able to buy the jacket")
    elif price <300:
        print("i will be able to buy shirt")
        if price < 200:
            print("i would like to do something")
    else:
        print("i wont be able to buy anything")
else :
    print("i wont be abel to buy anything with this price tag")
    if price > 500:
        print("lets try differnt")

In [ ]:
marks=int(input())
if marks < 600:
    print(" no gre")
    if marks <500:
        print("take admission in toffel")
        if marks <400:
            print("try something else")
    else:
            print("you got toffel")

else :
    print("GRE")

In [ ]:
 val = float(input("entr a float number"))
if val >=0:
    if val ==0:
        print("enter value is zero")
    else:
        print("enterd value is a postive num ")
else :
    print("enterd value is negetive")

In [ ]:
a = int(input(
'number a='))
b = int(input('number b='))
c = int(input('number c='))
if a>=0:
    pass
    if a >=40:
        print('a swapped by b=',b)
        
        if b>= 20:
            print('b swapped by c=',c)
            if c >=10:
                 print('c swapped by a=',a)
else:
    print("number is negetive")

In [ ]:
##my own above

In [ ]:
a = 10 
if a <10 and a==10:
    print("try to do something")

In [ ]:
a= "liki"
if a == "liki" and a=="liki":
    print("this is liki")

In [ ]:
a=10
b=11
c=12
d=13
if a==9 or b==11 and c==12 and d==13:
    print("lets do it")

In [46]:
d = {'key1': "value", "key2" : "liki","key3":"study"}

In [47]:
if  d['key1'] == "value" and d['key2'] == "liki" and d['key3']=="study":
         print("all the values are verified")
         print(d.values())
else:
    print("all the values are not verified")

all the values are verified
dict_values(['value', 'liki', 'study'])

In [48]:
l=[1,2,3,4,5,"liki",234.56]

In [65]:
print(d.values())

dict_values(['value', 'liki', 'study'])

#

In [12]:
l[1]

2

In [32]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i+"1")

2
3
4
5
6
liki1
235.56

In [22]:
a = [9, 8,7,6,5,4,3,2,10]

In [28]:
for i in a:
    print(i)

9
8
7
6
5
4
3
2
10

In [29]:
l

[1, 2, 3, 4, 5, 'liki', 234.56]

In [30]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [31]:
l1

[1, 2, 3, 4, 5]